body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

header {
  font-family: "Anton", sans-serif;
  color: #fff;
}

section {
  text-decoration: none;
  font-family: "Anton", sans-serif;
  padding-top: 113px;
}

footer {
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  padding: 80px;
}

.footer-text p {
  margin-right: 67px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 50px;
  margin-bottom: 58px;
}

.header {
  background: url("../img/header-bg.jpg") no-repeat center top / cover;
  padding-top: 57px;
  padding-bottom: 322px;
}

.container {
  width: 1170px;
  margin: 0 auto; /* позиционирование по центру */
}

header a {
  color: #fff;
}
.logo {
  margin-right: 69px;
}

.menu {
  display: flex;
  letter-spacing: 0.1em;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-style: 14px;
}

.menu li {
  margin-right: 40px;
}

.tel {
  font-style: 17px;
  text-decoration: none;
  margin-left: auto;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
}

.offer {
  text-transform: uppercase;
  padding-top: 216px;
}

.offer p {
  font-size: 30px;
  letter-spacing: 0.1em;
}

.offer h1 {
  font-size: 100px;
  margin-bottom: 19px;
  margin-top: -9px;
  letter-spacing: 0.02em;
}

.btn {
  display: block;
  font-style: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  border: 1px solid #fff;
  width: 238px;
  text-decoration: none;
}

.about {
  color: #000;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description-left,
.description-right {
  width: 567px;
}

.description p {
  font-family: "Open Sans";
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}
